/* color references

white: #FCFFF7
pink: #ED6A5A
teal: #17BEBB
dusty blue: #9BC1BC
pale yellow: #F4F1BB

font references

font-family: 'Cormorant Garamond', serif;
font-family: 'Raleway', sans-serif;

*/

body {
    background: url("images/valentin-muller-bWtd1ZyEy6w-unsplash.jpg");
}

i {
    font-size: 5rem;
}

.image {
    padding-top: 0% !important;
    text-align: center;
}

h6 {
    font-style: italic;
    text-align: center;
}

.columns.is-ancestor {
    margin: 0 auto;
}

#cityInput {
    border-radius: 0%;
}

#searchBtn {
    border-radius: 0%;
}

.button.is-info {
    border-radius: 0%;
    width: 100%;
    color: #17BEBB;
    background-color: #FCFFF7;
}

.button.is-info:hover {
    background-color: #ED6A5A;
}
.button.is-info:active {
    background-color: #17BEBB;
}
.button.is-info:focus {
    background-color: #17BEBB;
}

.tile.is-vertical {
    padding: 0rem;
}

#searchBox {
    background-color: #9BC1BC;
    padding: 4%;
}

#weatherDashboardTitle {
    font-size: 5rem;
    font-family: 'Cormorant Garamond', serif;
    color: #FCFFF7;
}

#cityStats{
    background-color: #F4F1BB;
}

#weatherBox {
    background-color: #ED6A5A;
    color: #F4F1BB;
}

#cityForecast {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

h6 {
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
}

.weatherTemp {
    font-family: 'Cormorant Garamond', serif;
}

.weatherCondition {
    font-family: 'Raleway', sans-serif;
}

.footer {
    background: transparent;
}

#footerTxt {
    font-size: 1.2rem;
    font-family: 'Cormorant Garamond', serif;
    color: #FCFFF7;
}

a {
    font-size: 1.2rem;
    font-family: 'Cormorant Garamond', serif;
    color: #17BEBB;
}